$Montserrat: "Montserrat", sans-serif;
$wrap: 1240px;
$container: 900px;
$mc: 0 auto;
$textSize: 16px;
$textColor: rgb(246, 237, 219);

@mixin flex($jc, $ai) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $jc;
    align-items: $ai;
}

body {

    font-family: $Montserrat;
    font-size: $textSize;
    line-height: 1.75;
    color: $textColor;
    background: radial-gradient(at 125% 50%, orange, 1.5%, black);
    height: 100%;
    line-height: 1.75;
    
}

.content {
  position: relative;
    margin: $mc;
    padding: 0 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: -30px 0;
}

  /* Остальные стили */
  
  .title {
    line-height: 1.3;
    letter-spacing: 5px;
    color: rgb(246, 237, 219);
    text-shadow: 0 1px 0, 0 0 0.15em orange; /* Параметры тени */
    font-weight: 50;
  }


  .gallery {
    font-size: 24px;
    text-align: center;
    color: rgb(246, 237, 219);
    padding-bottom: 2em;
    border-bottom: 50px solid transparent;
}

 .gallery a {
  display: inline;
  text-decoration: none;
  background-image: linear-gradient(transparent, transparent),
      linear-gradient(transparent, transparent),
      linear-gradient(to right, rgb(196, 218, 99), rgb(153, 39, 8));
  background-repeat: no-repeat;
  background-position: 120%, 122%, 0 140%;
  background-size: 100% 10px;
cursor: pointer;
} 

